{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} - Contact
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h1>Contact</h1>
        {{ form(contactForm) }}
    </div>
{% endblock %}